
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
}

nav {
    background-color: lightskyblue;
    padding: 16px;
}

.chat__item__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
